@model AppGestionProyectos.Models.AsignarTarea

@{

    ViewBag.Title = "AsignarTarea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar Tarea</h2>

@using (Html.BeginForm("AsignarTarea", "Creacion", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.IDTarea)
        @Html.TextBoxFor(model => model.IDTarea)
        @Html.ValidationMessageFor(model => model.IDTarea)
    </div>
    <br />

    <div>
        @Html.LabelFor(model => model.IDUsuario)
        @Html.TextBoxFor(model => model.IDUsuario)
        @Html.ValidationMessageFor(model => model.IDUsuario)
    </div>
    <br />
}

<input type="submit" value="Asignar tarea" class="btn btn-primary" />
<a href="@Url.Action("ListaTareas", "Creacion")" class="btn btn-primary">Cancelar</a>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-success">@TempData["Mensaje"]</div>
}